{% extends 'user/form.html' %}

{% block title %}Login{% endblock %}
{% block heading %}Login{% endblock %}

{% block err %}
{% if auth_err %}
<p>{{ auth_err }}</p>
{% endif %}
{% endblock %}

{% block form %}
<form method="POST" action="{% url 'user:login' %}">
    {% csrf_token %}
    <div class="form-field">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
    </div>
    <div class="form-field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
    </div>
    <button type="submit" class="form-submit-button">Login</button>
</form>
{% endblock %}

{% block bottomLink %}
Don't have an account? <a href="{% url 'user:register' %}">Register</a>
{% endblock %}
